{% from "brand-icon.njk" import render as brandIcon %}
{{ brandIcon("logo-icon") }}
<span class="logo-text">
  <span class="logo-name">{{ site.businessName }}</span>
  <span class="logo-descriptor label-mono">{{ site.businessDescriptor }}</span>
</span>
